* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  height: 70vh;
  width: 100%;
  background-color: #F15A49;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.bio {
  padding: 0 5px 10px 10px;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
}

.button-wrap {
  display: flex;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  margin: 0 8px 0px 10px;
  padding: 10px 15px;
  width: 25%;
  border: 1px solid #fff;
  background-color: #35bc7a;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

/******* Cards *******/

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #35bc7a;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 26.6666vh;
  width: 50%;
}

.double-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
  width: 100%;
  background-color: #35bc7a;
}

.card-title {
  margin: 5px 0 0 0;
  padding-left: 5px;
}

.icon {
  height: 30px;
  width: 30px;
}

.portfolio {
  background-color: #F86925;
}

.experience {
  background-color: #1E8BC4;
}

.profile {
  background-color: #FF9E00;
}

.education {
  background-color: #F15A49;
}

.blog {
  background-color: #35bc7a;
}

.contact {
  background-color: #1E8BC4;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 20vh;
  background-color: #FF9E00;
}

@media screen and (min-width: 500px) {

  .wrapper {
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .header {
    height: 100vh;
    width: 35%;
  }

  .grid {
    height: 100vh;
    width: 65%;
  }

  .about-card {
    height: 33.3333vh;
    width: 66.6666%;
    padding: 10px;
  }

  .card {
    height: 33.3333vh;
    width: 33.333%;
  }

  .social {
    width: 33.333%;
    height: 33.3333vh
  }
}
